/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e; 
  border-radius: 2rem;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0; 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747474 
}