@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.slider{
  position: relative;
  display: flex;
  justify-content: space-evenly;

  /* border: 1px solid #fff; */
  padding: .5rem;
}

.slider .block{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider .block .slider-img{
  user-select: none;
  border-radius: 1.5rem;
  width: 20vw;
  aspect-ratio: 3/2;
  cursor: zoom-in;
}

.slider .block .text-about{
  position: absolute;
  bottom: -.7rem;
  background-color: #292929a2;

  color: #dadada;

  /* border: 1px solid #fff; */
  border-radius: 2rem;
  padding: .7rem;

  font-size: 1.5vw;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.help-icon{
  user-select: none;
  position: absolute;
  border: #292929 solid 2px;
  background-color: #dadadad3;
  border-radius: 100%;
  color: #111111;

  font-size: 1vw;
  font-weight: 800;

  width: 1vw;
  text-align: center;

  cursor: pointer;

  right: 0;
  top: 0;
  margin: .5rem;
  padding: .5rem;
}

[data-tooltip] {
  position: absolute; /* Относительное позиционирование */ 
 }

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 15vw; /* Ширина подсказки */
  right: 0; top: 0; /* Положение подсказки */
  background: #292929a2; /* Синий цвет фона */
  border: #1f1f1f solid 2px;
  border-radius: 2rem;
  color: #dadada; /* Цвет текста */
  padding: 0.2em; /* Поля вокруг текста */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
}